# ===================================== #
# Unity generated #
# ===================================== #
Library/
Temp/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln*
*.user
*.unityproj
*.booproj	

# =============== #
# Override global #
# =============== #
!*.obj
!*.dll
